.list {
    display: flex;
    width: 350px;
    justify-content: space-around;
    margin: 20px;
}
.buttonsSort {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
}
.time {
    display: inline-block;
    margin: 10px;
    font-size: 24px;
}
.hiddenDate {
    display: inline-block;
    margin: 10px;
    font-size: 24px;
}
